body {
    background-image: url(https://2.bp.blogspot.com/-OGl33Hg7OI4/V25TaPx0FLI/AAAAAAAAEGk/x7xgc6tvkZYZ3dq1K6KV3kU5MoVu-7duACLcB/s1600/coffee-seeds-wallpaper.jpg);
    background-size: cover;
}
h1, p, h2 {
    text-align: center;
}
h1, h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
.menu {
    width: 80%;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    /*padding: 20px; ( caso todos os lados sejam iguais*/
    max-width: 530px;

}
.item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}
.flavor, .dessert {
    text-align: left;
    width: 75%;

}
.price {
    text-align: right;
    width: 25%;
}
.established {
    font-style: italic;
}
hr {
    height: 2px;
    background-color: rgb(173, 92, 52);
    border-color:rgb(173, 92, 52)
}
a{
    color: black;
}
a:visited {
    color:maroon;
}
.rod {
    font-style: italic;
    margin-bottom: 15px
}
a:hover {
    color:slateblue
}
h1 {
    margin-top: 0;
    margin-bottom: 15px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}